// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$primary: #FFBC00;
$primary-500: #DFA503;
$secondary: #000; 
$secondary-300: #3F3F3f;
